/* trussworks component styles */
@import "@trussworks/react-uswds/lib/uswds.css";
@import "@trussworks/react-uswds/lib/index.css";

/* normalize css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root,
html,
body {
  width: 100%;
}

@media (min-width: 64em) {
  .usa-nav__primary button[aria-expanded=false] span:after {
      background: white;
  }
}

.usa-nav-container {
  position: relative;
  z-index: 1000;
}